/* фіксуємо хедер треба додати герою марджин щоб не налазила шапка */
/* position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9; */
/* margin-top: 80px; */

/* Вставляє іконки телефона і пошти через бекграунд імідж
  .mail-icon::before{
  content: '';
  width: 16px;
  height: 12px;
  background-color: #fff;
  background-image: url(../images/icons/envelope.svg);
  
  margin-right: 10px;
}
.phone-icon::before{
  content: '';
  width: 10px;
  height: 16px;
  background-color: #fff;
  background-image: url(../images/icons/smartphone.svg);

  margin-right: 10px;
} */

/* .benefits-item::before{
  content: '';
  display: block;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: var(--background-color-section);
  background-repeat: no-repeat;
  background-position: center;
}
.antenna-icon::before{
background-image: url(../images/icons/antenna\ 1.svg);
}
.clock-icon::before{
  background-image: url(../images/icons/clock\ 1.svg);
}
.diagram-icon::before{
  background-image: url(../images/icons/diagram\ 1.svg);
}
.astronaut-icon::before{
  background-image: url(../images/icons/astronaut\ 1.svg);
} */
/* .social-item{
  display: inline-flex;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center;
}
.social-item:hover,
.social-item:focus{
  background-color: var(--accent-text-color);
}
.instagram-icon{
  background-image: url(../images/icons/instagram\ 2-2.svg);
}
.twitter-icon{
  background-image: url(../images/icons/twitter\ 1-2.svg);
}
.facebook-icon{
  background-image: url(../images/icons/facebook\ 1-2.svg);
}
.linked-icon{
background-image: url(../images/icons/linkedin\ 1-3.svg);
} */
