.section__list--grid {
  display: block;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  @media screen and(min-width:1200px) {
    display: flex;
  }
}

.section__item--features {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

.icon-block {
  @include centered(center);

  background: $background-section;
  border-radius: 4px;
  height: 120px;
  margin-bottom: 30px;
  @media screen and(min-width:480px) {
    width: 450px;
  }
  @media screen and(min-width:768px) {
    width: 354px;
  }
  @media screen and(min-width:1200px) {
    width: 270px;
  }
}
.icon-block__title {
  color: $secondary-color;
  font-weight: 700;
  font-size: $primary-font-size;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 10px;
  @media screen and(max-width:767px) {
    text-align: center;
  }
}
.icon-block__description {
  font-size: $primary-font-size;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
