.icon-block {
  @include centered(center);
  width: 270px;
  height: 120px;
  margin-bottom: 30px;

  background: $background-section;
  border-radius: 4px;
}
.icon-block__title {
  color: $secondary-color;
  font-weight: 700;
  font-size: $primary-font-size;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 10px;
}
.icon-block__description {
  font-size: $primary-font-size;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
