.hero-section {
  @include centered(center);
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  max-width: 1600px;
  height: 600px;
  background-color: $background-footer;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/overlay.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  // @media screen and(min-width:480px) {
  //   max-width: 480px;
  //   height: 400px;
  // }
  // @media screen and(min-width:768px) {
  //   max-width: 768px;
  // }
  // @media screen and(min-width:1200px) {
  //   max-width: 1600px;
  //   height: 600px;
  // }
}
.hero-section__title {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $light-color;

  @media screen and(min-width:1200px) {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
