.hero-section {
  @include centered(center);
  text-align: center;
  max-width: 1600px;
  height: 600px;

  background-color: $background-footer;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/overlay.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-section__title {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  width: 696px;

  color: $light-color;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
