.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  @include transition(opacity, null, null);
  &--hidden {
    opacity: 0;
    pointer-events: none;
  }
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  .backdrop--hidden & {
    transform: translate(-50%, -50%) scale(0.9);
  }
  width: 528px;
  height: 581px;
  background-color: $light-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px 40px;
  @include transition(transform, null, null);
}
.modal__button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  @include centered(center, inline-flex);
  width: 30px;
  height: 30px;
  background-color: $light-color;
  color: $dark-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  @include transition(color, border-color, null);
  &:hover,
  &:focus {
    color: $accent-color;
    border-color: $accent-color;
  }
}
.modal__icon {
  fill: currentColor;
}
